.nav {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
}

a,
.hero-sub {
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-description {
    display: flex;
}

.info-img {
    border-radius: 12px;
    border: 6px solid #3882F6;
    object-fit: cover;
    width: 230px;
    height: 230px;
}

figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.quote-name {
    color:#1F2937;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav, 
.hero,
.footer {
    background-color: #1F2937;
}